body{
    background-color: black;
}

#game, #selections, #play_again, #result{
    display: none;
}

#game, #intro, #title{
    cursor: default;
    text-align: center;
    width: 50%;
    margin: auto;
    color: white;
    border: 2px solid white;
}

#intro{
    margin-top: 10px;
}

#rounds{
    width: 40px;
    background-color: navy;
    color: white;
}

#round_err{
    color: red;
}

.choice{
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    height: 30px;
    line-height: 30px;
    margin: 4px;
}

.choice, #next, #play_again{
    width: 20%;
    border-radius: 4px;
    background-color: navy;
    border: 1px solid blueviolet;
}

#next{
    color: white;
    font-size: 110%;
}

.choice:hover, #next:hover, #play_again:hover{
    cursor: pointer;
    background-color: blue;
}

.choice:active, #next:active{
    color: wheat;
}

#play_again{
    font-size: 20px;
    font-family: serif;
}
